<IfModule mod_rewrite.c>
    RewriteEngine On

    # Serve files or folders if they exist
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Otherwise, send request to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
